# 02 — Proveedores: Yahoo Finance y Alpha Vantage

Uso de providers con red (opcional). Si falla, el entorno está offline o falta API key.

In [1]:
from mcport.providers import YahooProvider, AlphaVantageProvider

In [2]:

# Yahoo Finance
try:
    data = YahooProvider().price_history(symbols=["AAPL","MSFT"], periods=90)
    for k, df in data.items():
        print("Ticker:", k); display(df.head())
except Exception as e:
    print("Yahoo offline:", e)

Ticker: AAPL

,open,high,low,close,adj_close,volume
Date,,,,,,
2025-06-30,202.009995,207.389999,199.259995,205.169998,204.937408,91912800
2025-07-01,206.669998,210.190002,206.139999,207.820007,207.584412,78788900
2025-07-02,208.910004,213.339996,208.139999,212.440002,212.199173,67941800
2025-07-03,212.149994,214.649994,211.809998,213.550003,213.307922,34955800
2025-07-07,212.679993,216.229996,208.800003,209.949997,209.711990,50229000

Ticker: MSFT

,open,high,low,close,adj_close,volume
Date,,,,,,
2025-06-30,497.040009,500.760010,495.329987,497.410004,496.593658,28369000
2025-07-01,496.470001,498.049988,490.980011,492.049988,491.242432,19945400
2025-07-02,489.989990,493.500000,488.700012,491.089996,490.284027,16319600
2025-07-03,493.809998,500.130005,493.440002,498.839996,498.021301,13984800
2025-07-07,497.380005,498.750000,495.230011,497.720001,496.903137,13981600

In [ ]:

# Alpha Vantage
try:
    api_key = "PON_AQUI_TU_API_KEY"
    av = AlphaVantageProvider(api_key=api_key)
    out = av.price_history(symbols="AAPL", periods=60)
    if isinstance(out, dict):
        display(out["AAPL"].head())
    else:
        display(out.head())
except Exception as e:
    print("Alpha Vantage offline:", e)